

	label.valid {
			  width: 4px;
			  height: 4px;
			  background: url(img/valid.png) center center no-repeat;
			  display: inline-block;
			  text-indent: -9999px;
		}
		 label.error {
		    padding: 5px;
		    background-color: #FFFFFF;
		    border: 1px solid #D0D0C0; 
		    font-weight:normal;
		    color: #CC0000;
		    
		} 

