 /* Common Radio -start */
.default_checkbox { opacity:0; display:none }
.common_radio_button{ background: url(../images/radio_btn_bg.png) no-repeat center center; height:34px; width:34px; display:block; }
.common_radio_button_checked{ background: url(../images/yes_checked.png) no-repeat center center; display: block; height: 34px; width: 34px;}
.default_radio{opacity: 0;display: none;} 
.radio_parent label{font-family: "aller bold";font-size: 18px;color: #3A3A3A;margin: 8px 0 0 7px;}
.radio_parent {width: 250px; margin: 90px auto;}
.no_data_message{color:#942754;font-family: "aller bold";font-size: 17px;height:45px;position:relative;text-align: center; padding-top: 14px;}
.no_data_message:after{ position:absolute; content:"";width:100%;background: url(../images/shadow_list.png) no-repeat center bottom; height:10px;left:0; right:0; bottom:0}
/* Common Radio -end */

.txt-red {color: #AE2760}
input.btn {
    font-size:11px; 
    line-height: 15px; 
    border:1px solid #ddd; 
    text-shadow:0 1px 0 #fff;  
    border-bottom:1px solid #bbb; 
    color:#444; padding:4px 15px 5px; 
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; margin:0px; 
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin:2px;
}

/* Business valuation -start */
#pnl-bv #biz-panels .panel {background-color: #F3F3F3}
#pnl-bv #biz-panels .row {height: 30px;font-size: 14px}
#pnl-bv #biz-panels .rupee-dark {
    background: url("../images/rupee_thumb.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    float: left;width: 10px;height: 100%;min-height: 16px;display: inline-block;
}
#pnl-bv #biz-panels .icn, #biz-panels .amt, #biz-panels .per {
    width: 30px;height: 30px;margin-right:10px;
    display: inline-block;color: #AE2760;float: left;vertical-align: baseline;line-height: 30px;
}
#pnl-bv #biz-panels .amt {
    background-color: transparent;
    border: 0 solid;border-bottom: dashed 1px #AE2760;height: 26px;
}
#pnl-bv #pnl-target .col-lg-1 {width: 12%}
#pnl-bv #pnl-target .icn, #pnl-target .amt, #pnl-target .per {margin-right: 4px}
#pnl-bv #pnl-target .icn {width: 10px}
#pnl-bv #pnl-target .per {width: 10px;font-size: 10px;color:#3B3B3B}
#pnl-bv #pnl-target a.new {display: inline-block;font-size: 16px;font-weight: bold;margin-bottom: 10px;}
#pnl-bv #pnl-target .panel-heading {background-color: #E1E1E1;font-weight: normal}
#pnl-bv #pnl-target .panel-heading .row .col-lg-1 {text-align: center}
#pnl-bv #pnl-target .panel-body .row {height: 50px}
#pnl-bv #pnl-target .col-lg-4 {margin-right: 20px}
#pnl-bv #pnl-target .col-lg-1 {margin-right: 4px}
#pnl-bv .panel {border-radius: 0;border-color: #fff;border: 0}
#pnl-bv .panel-body {
    -webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    -moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    box-shadow:         4px 4px 4px 0px rgba(50, 50, 51, 0.17);
}
/* Business valuation -end */

/* Zimmedari meter -start */
#pnl-zm #tgl-help {background-color: #DDDDDD;color: #AE2760;font-weight: bold;width:88px;height: 32px;line-height: 32px;vertical-align: middle; float:right;text-align: left;cursor: pointer}
#pnl-zm #tgl-help .icn {background: url("../images/icns-tglhelp.png") no-repeat 0 0 rgba(0, 0, 0, 0);
    float: left;width: 25px;height: 32px;display: inline-block;margin-right: 10px}
#pnl-zm #tgl-help .icn.active {background-position: 0 -34px}
#pnl-zm #tgl-helptext {font-size:11px;display: none;position: absolute;right:0;top:50px;width: 400px;height: 300px;padding:10px;background-color: #DDDDDD;border: 1px solid #AE2760;z-index: 999}
#pnl-zm #tgl-helptext li {list-style: square;padding: 5px 0 }

#pnl-zm #pnl-meter {background: url("../images/zimmedarimeter_new.png") no-repeat top center transparent;
    float: left;width: 100%;height: 300px;display: inline-block;margin: 10px auto}
#pnl-zm #lnk-healthindex {float: left;width: 200px;height: 80px;margin-bottom: 10px;text-align: center;}
#pnl-zm #lnk-healthindex .icn {background: url("../images/icn-healthindex.png") no-repeat top center transparent;width:45px;height: 45px;display: inline-block;}
#pnl-zm #lnk-healthindex .txt {width: 100%;height: 30px;float: left;text-align: center;color: #AE2760;text-decoration: underline}

#pnl-zm #pnl-meter .arrow {
width: 9px;
height: 145px;
display: block;
z-index: 10;
background: #fff;
margin: 56px auto 0;
transform-origin: bottom;
-ms-transform-origin: bottom;
-webkit-transform-origin: bottom;
position: relative;
}

#pnl-zm #pnl-meter .arrow_base {
background: url(../images/arrow_base.png) no-repeat center center;
width: 46px;
height: 43px;
display: block;
margin: -19px auto 0;
position: relative;
z-index: 100;
}

#pnl-zm .panel {
    background: #E7E7E7;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    -moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    box-shadow:         4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    margin: 10px 10px 10px 0;border:0;
}
#pnl-zm .panel-body .txt-red {font-weight: bold;font-size: 14px}
/* Zimmedari meter -end */

/* Questionaire -start */
#zq_main .panel {background-color: #FFF;padding: 0;border-radius: 0;border-color: #fff;border: 0;box-shadow: none}
#zq_main .panel-body {padding: 0}
#zq_main #zq_main_bx_slider li {padding: 0 0 5px 0}
#zq_main .row {height: 30px;font-size: 15px}
#zq_main .panel-body .row1 {min-height: 100px;position: relative;background: #fff;padding-top: 50px}
#zq_main .panel-body .row2 {
    min-height: 210px;padding-bottom: 10px
}
#zq_main .panel-body .row2 .content {
    background: #E7E7E7;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    -moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    box-shadow:         4px 4px 4px 0px rgba(50, 50, 51, 0.17);
    min-height: 200px;position: relative;margin: 10px 10px 10px 0;
}
#zq_main .label { font-family: "allerregular"; font-size: 24px; color: #3a3a3a; text-align: center; margin-bottom: 20px; }
#zq_main ul li.list_bx { width:198px; float:left; height:316px; margin:0 14px 0 24px; background-color:#F00; }
#zq_main a.bx-prev { background: url(../images/sprite02.png) no-repeat -295px -300px; display: block; height: 92px; width: 36px; left: 0; position: absolute; top: 48%; margin-left: 3px; left: 40px; }
#zq_main a.bx-next { background: url(../images/sprite02.png) no-repeat -354px -300px; position: absolute; display: block; width: 36px; height: 92px; top: 48%; right: 0; right: 40px; }
#zq_main ul#add_docs_bx_slider { height: auto; width: auto; padding: 5px; /*border: 1px solid #952754;*/ padding:0; margin:0; }
#zq_main #notification {right: 30px; bottom: 44px; width:auto; height:24px; background-color:#942754; border-radius: 5px; color:#FFF; position:absolute; line-height:15px; text-align:center; padding: 5px; font-family: "aller bold"; font-size: 12px; color: #fff; }
#zq_main #notification .one, #zq_main #notification .two {font-family: "aller bold"; font-size: 12px; color: #fff;float: left}
#zq_main #zq-thnku img {width:200px;height:190px;margin: 8px 0 0 20px}
#zq_main #zq-thnku h3 {font-size: 26px;margin-bottom: 10px}
#zq_main #zq-thnku p {background-color: #3A3A3A;color: #fff;padding: 10px;border-radius: 10px;font-size: 14px;font-family: Verdana, Arial, Helvetica, sans-serif; }
/* Common custom checkbobx -start */
.default_checkbox { opacity:0; display:none }
#zq_main ul li .common_custom_checkbox { background: url(../images/sprite02.png) no-repeat -77px -47px; height:34px; width:37px; display:block; }
#zq_main ul li .white_checkbox_checked { background: url(../images/sprite02.png) no-repeat -31px -47px; display: block; height: 34px; width: 37px; position: absolute; }
/* Common custom checkbobx -end */

/* Common Radio -start */
#zq_main #zq_main_bx_slider .c_box {width:40px; height:40px; float:left;line-height: 40px;vertical-align: middle}
#zq_main #zq_main_bx_slider .c_lbl {width:auto; height:40px; float:left;line-height: 40px;vertical-align: middle}
#zq_main #zq_main_bx_slider .default_checkbox { opacity:0; display:none }
#zq_main #zq_main_bx_slider .common_radio_button{ background: url(../images/radio_btn_bg.png) no-repeat center center; height:34px; width:34px; display:block; }
#zq_main #zq_main_bx_slider .common_radio_button_checked{ background: url(../images/yes_checked.png) no-repeat center center; display: block; height: 34px; width: 34px;}
#zq_main #zq_main_bx_slider .default_radio{opacity: 0;display: none;} 
#zq_main #zq_main_bx_slider .radio_parent label{font-family: "aller bold";font-size: 18px;color: #3A3A3A;margin: 8px 0 0 7px;}
#zq_main #zq_main_bx_slider .radio_parent {width: 250px; margin: 90px auto;}
#zq_main #zq_main_bx_slider .no_data_message{color:#942754;font-family: "aller bold";font-size: 17px;height:45px;position:relative;text-align: center;}
#zq_main #zq_main_bx_slider .no_data_message:after{ position:absolute; content:"";width:100%;background: url(../images/shadow_list.png) no-repeat center bottom; height:10px;left:0; right:0; bottom:0}
/* Common Radio -end */
/* Questionaire -end */

/* Performance matrix -start */
#permtrx_footer label, #permtrx_footer .selectboxit-container {float: left;color: #AE2760;font-size: 15px;margin-right: 10px}
#permtrx_footer .selectboxit-container .selectboxit:first-child,
#permtrx_footer .selectboxit-container .selectboxit:first-child .selectboxit-text{width: 220px;}
#permtrx_footer .selectboxit-container .selectboxit:first-child .selectboxit-text {max-width: 200px !important}
/* Performance matrix -end */

/* Partner Profile -start */
.wdmin100 {min-width: 100px}
.wdmin100per {min-width: 100%}
#pnl-pp label {font-weight: normal}
#pnl-pp .panel {box-shadow: 0 7px 6px -4px #B4B3B3}
/*#pnl-pp .panel-heading {
    background-color: #AE2760;
    border-color: #AE2760;
    color: #FFFFFF;
    z-index: 2;
}*/
#pnl-pp .form-control {width: 70%;}
#pnl-pp .rupee-dark {
    background: url("../images/rupee_thumb.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    float: left;width: 10px;height: 100%;min-height: 24px;display: inline-block;margin-right: 6px;
}
#pnl-pp .list-group-item.active {background-color: #FCF6F8;font-weight: bold}
#pnl-pp .ui-spinner-up,
#pnl-pp .ui-spinner-down {height: 27px;top: 0;bottom: 0}
#pnl-pp .ui-spinner-input {border-radius: 0;height: 27px; line-height: 27px; vertical-align: top; box-shadow: none; background:none; border:none; color: #9F2443; font-family: "Aller Bold"!important; font-size: 24px!important; text-align: center; text-shadow: 0 0 0 #000; width:66px; border-bottom: 1px dashed #656561; position:relative; margin: 0 auto; display: block;}

#pnl-pp .col-actions .icn {
    position: absolute;
    border: 2px solid #3A3A3A;
    color: #3A3A3A;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 16px;
    left: 4px;
    top: 0;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
}
#pnl-pp .col-actions .icn.close {left: 4px;border-color: #AE2760;color: #AE2760}
#pnl-pp .col-actions .icn.add {left: 94px;}
#pnl-pp .datepicker {vertical-align: top;margin-right: 4px}
/*#pnl-pp .common_input, #pnl-pp .common_textarea {
    border: 1px solid #A44B6F;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 #B0B0B0 inset;
    color: #7A7A7A;
    font-family: "allerregular";
    font-size: 15px !important;
    padding: 3px 5px 3px 9px ;
}*/
#pnl-pp .selectboxit-container {width: 70%}
#pnl-pp .selectboxit-container .selectboxit {width: 100%}
/* Partner Profile -end */